@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #dfdfdf;
}

.MuiAccordion-root,
.MuiAccordion-root.Mui-expanded {
    margin: 0 -16px !important;
}

.y-item-card-content {
    padding-bottom: 0 !important;
}